:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    @apply transition-all underline hover:text-primary-500
}

body {

    background-image: var(--background-image);
    background-color: black;
    background-size: var(--background-size, (100% 22em, 100%)), 100% 100%;

    background-position: top;
    background-repeat: no-repeat;
}