.root {
    height: 100%;
}
/* Shadcn Component Styles */

/* Tab */
.tab {
    @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-primary-500 data-[state=active]:text-light-2 !important;
}

.no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
    @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
}

.account-form_image-input {
    @apply cursor-pointer border-none bg-dark-1 outline-none file:text-blue !important;
}

.account-form_input {
    @apply border border-dark-4 bg-dark-3 text-light-1 !important;
}

/* Comment Form */
.comment-form {
    @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
}

.comment-form_btn {
    @apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
}

[contentEditable=true]:empty:not(:focus):before {
    color: #697C89;
    content: attr(data-placeholder)
}

a {
    @apply transition-all underline hover:text-primary-500
}